# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Temporary file storage
temp/
*.log

# macOS system files
.DS_Store
